body {
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}


.layout-container {
    width: calc(100% - 40px);
    max-width: none;
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
}


.genre-buttons {
    margin-top: 10px;
}

.genre-button {
    display: inline-block;
    background-color: #234f7e;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.genre-button:hover {
    background-color: #0056b3;
}


h1 {
    color: #2A2A2A;
    font-weight: bold;
    margin-bottom: 10px;
}


p {
    color: #666;
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #eee;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}


button {
    background-color: #0056b3;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #003d82;
}


img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}




@media (max-width: 768px) {
    .layout-container {
        padding: 10px;
    }
}
