/* [postId].css */

.individual-post-background {
    background-color: rgb(217, 213, 224);
    border-radius: 10px;
    max-width: 800px;
}

.individual-post-container {
    margin: 0px 30px 10px 30px;
    padding: 20px;
    color: #333;
}

.post-title-container {
    display: flex;
    flex-direction: row;
    gap: 0px;
}

.post-header-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #eee;
    border-radius: 5px;
}

.post-info-container {
    display: flex;
    flex-direction: column;
    width: 160px;
    font-size: 18px;
    margin: 0px 10px 0px 0px;
}

.review-container {
    width: 400px;
    background-color: #eee;
    padding: 1px 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.individual-post-icons {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center; 
}

.genre-buttons {
    margin-top: 10px;
}

.genre-button {
    display: inline-block;
    background-color: rgb(28, 7, 76);
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.individual-post-container h1 {
    color: #2A2A2A;
    font-weight: bold;
    margin-bottom: 10px;
}

.individual-post-container h2 {
    color: #2A2A2A;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
}

.individual-post-container p {
    color: #333;
    line-height: 1.6;
}

.individual-post-container ul {
    list-style-type: none;
    padding: 0;
}

.individual-post-container ul li {
    background-color: #eee;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}

.individual-post-button {
    background-color: rgb(217, 213, 224);
    border: none;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
}

.individual-back-button {
    background-color: rgb(28, 7, 76);
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    border: none;
    padding: 5px 10px;
    margin: 20px 0px;
    border-radius: 5px;
    cursor: pointer;
}

.individual-post-img {
    width: 250px;
    height: 340px;
    border-radius: 5px;
    object-fit: cover; 
    object-position: center;
    margin: 20px 0px;
}

@media (max-width: 768px) {
    .individual-post-container {
        padding: 10px;
    }
}
