/* index.css */
/* Welcome Page Display */

.welcome-container {
    margin: 0 auto;
    padding: 20px;
    color: #333;
    text-align: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.welcome-container h1 {
    color: rgb(28, 7, 76);
    font-weight: 600;
    text-align: center;
    font-size: 45px;
    margin-bottom: 40px; 
}

.welcome-container h2 {
    color: rgb(28, 7, 76);
    font-weight: 600;
    text-align: center;
    font-size: 75px;
    margin-bottom: 20px; 
}

.groupie-logo {
    width: 600px;
    height: 270px;
    object-fit: cover;
    object-position: center; 
}
.groupie-banner {
    width: 100px;
    height: 100vh;
    object-fit: cover;
    object-position: center; 
    position: absolute; 
    left: 0;
    top: 0; 
}

.groupie-banner2 {
    width: 100px;
    height: 100vh;
    object-fit: cover;
    object-position: center; 
    position: absolute; 
    right: 0;
    top: 0;
    transform: scaleX(-1);

}

.signin-container {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.signin-buttons {
    color: #fff;
    background-color: rgb(28, 7, 76);
    margin: 10px;
    width: 160px;
    height: 30px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
    border: none;
}

.signin-buttons:hover {
    background-color: rgb(18, 4, 50)
}

.signup-button {
    color: rgb(28, 7, 76);
    background-color: white;
    border: none;
    margin: 5px;
    width: 80px;
    height: 26px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

.signup-button:hover {
    color: rgb(18, 4, 50);
}
