/* Sign In Display */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: rgb(4, 4, 87);
}

.text-wrapper {
    margin-bottom: 20px;
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;
}

.signin-container {
    margin-top: 50px;
}

.signin-button {
    color: rgb(4, 4, 87);
    margin: 10px;
    width: 160px;
    height: 30px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.signup-button {
    color: rgb(4, 4, 87);
    margin: 5px;
    width: 68px;
    height: 26px;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}