/* navbar.css */

.navbar {
    background-color: rgb(28, 7, 76);
    color: white;
    display: flex;
    width: 90px;
    height: 100vh;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    position: fixed;
    margin-top: -10px;
    margin-left: -10px;
  }

/* formatting for main pages; sits next to nav bar */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 20;
    flex-grow: 1;
}

/* put navbar and page content into a container so that they are aligned side by side */
.page-wrapper {
    display: flex;
    flex-direction: row; /* Change to row to align content side by side */
    align-items: flex-start;
}

.navbar-icon {
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center; 
}
  
  .navbar-link {
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .navbar-link:hover {
    background-color: rgb(18, 4, 50);
  }

  .signout-button {
    color: rgb(255, 255, 255);
    background-color: rgb(28, 7, 76);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    border: none;
  }

  .signout-button:hover {
    background-color: rgb(18, 4, 50);
  }
  
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .png-iframe {
    width: 1500px;
    height: 80px;
    border: none;
  }
  