/* edit.css */

.edit-container {
    align-content: center;
    margin: 0px 100px;
    font-family: 'Times New Roman', Times, serif;
}

.edit-section {
    margin-bottom: 50px;
}

.edit-container h1 {
    color: #333;
    font-weight: 600;
    text-align: center;
    font-size: 45px;
}

.edit-section h2 {
    color: #333;
    font-weight: 600;
    text-align: left;
}

.profile-picture-edit {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;
}

.artist-grid {
    display: flex;
    max-width: 500px;
    flex-wrap: wrap;
    justify-content: center;
}

.artist-edit {
    margin-bottom: 10px;
    margin-right: 10px; /* Add margin-right for spacing between inputs */
}

.update-profile-btn {
    background-color: rgb(28, 7, 76);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

.update-profile-btn:hover {
    background-color: rgb(18, 4, 50);
}

